.friends {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border-top: 4px double #fff;
}

.friends h3 {
    width: 100%;
}

.friends a {
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #fff;
    margin: 10px 0;
}

.friends a:hover {
    color: blueviolet;
    text-decoration: underline;
}