.dialogs-items{
    padding: 20px 0;
    width: 70%;
    margin: 0 auto;
    display: flex;

}

.dialog-names{
    width: 20%;
}

.dialog-messages{
    width: 80%;

}

.send-msg{
    width: 60%;
    margin: 40px auto;
    display: flex;
}

.send-msg input{
    padding: 5px;
    flex-grow: 5;
    
}

.send-msg button{
    padding: 5px;
    margin-left: 10px;
    flex-grow: 1;
}